<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Domoticz Devices</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let idx of deviceList">
    {{ deviceData[idx].Name}} {{deviceData[idx].Name}}
  </ion-card>
  <ion-card *ngIf="deviceList.length == 0">
    No devices found
    {{isDimmable(deviceData[idx])}}
{{canToggle(deviceData[idx])}}
{{hasTemperature(deviceData[idx])}}
{canSetTemp(deviceData[idx])}}

  </ion-card>
</ion-content>
